
@import url(https://fonts.googleapis.com/css2?family=Acme&family=Martel:wght@200;300;400;600;700;800;900&family=Noto+Sans+Khojki&display=swap);


:root{
  --primary-color: #CCA43B ;
  --secondary-color: #242F40;
  --accent1-color: #e5e5e5;
  --accent2-color:  #363636;

  --heading-font:"Martel", serif;
  --paragraph-font:"Martel", serif;

  --nav-background-color: #e5e5e5;
  --nav-link-color: #ec0000;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #CCA43B
}

/* index page ----------------------------*/


body {
  background-color: var(--accent2-color);
}
header {
  background-color: var(--primary-color);
  padding: 20px;
}
h1,h2 {
  color: var(--primary-color);
  font-family: var(--paragraph-font);
} 

p {
  color: var(--primary-color);
  font-family: var(--paragraph-font);
}

footer {
  text-decoration: none;
  background-color: var(--primary-color);
  
}
footer p {
  color: var(--secondary-color);
}

nav a {
  font-family: var(--paragraph-font);
  text-decoration: none;
  color: var(--secondary-color);
  
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 100px;
  left: 37%;
  
}

.hero article {
  position: absolute;
  bottom: 60%;
  left: 10%;
  background-color: rgba(44, 62, 80, 0.7); 
  padding: 20px;
  width: 80%;
}

.hero article p {
  float: left;
  width: 70%; 
}

.hero article img {
  float: right; 
  max-width: 30%; 
}

nav img {
  width: 30px;
  height: auto;
  margin: 5px;
}

section {
  overflow: hidden;
}

/* contact page -------------------------*/

.map {    /*map*/
	width: 492px;
	height: 449px;
}

.workers {  /*workers */
  width: 100%; 
  text-align: center;
  background-size: cover;
}
.workers img {  /*workers */
  width: 100px; 
  height: auto;
  display: inline-block; 
  
}
.contact { /*contact information*/
  width: auto; 
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  border: 5px solid var(--primary-color);
  font-family: var(--paragraph-font);
}
.contact ul {  /*contact information*/
  list-style-type: none;  
  padding: 0;
}
.contact li {  /*contact information*/
  margin-bottom: 10px; 
}
#line {  /*contact information line ID*/
  width: 200px;
  border: 1px solid var(--primary-color);
}

form {   /* form */
    width: auto;
    padding: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid var(--primary-color);
    font-family: var(--paragraph-font);

}
.form-container {
  display: flex;
  justify-content: space-around;
  border-radius: 19px;
}
label {
    color: var(--primary-color);
    margin-bottom: 50%;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}
button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--paragraph-font);
}
button:hover {
    background-color: var(--accent1-color);
}

/* trips      -----------------------------------*/

.back {
  position: relative;
}

.back img {
  display: block;
  width: 100%;
  height: auto;

  
}

.back h1 {
  position: absolute;
  top: 100px;
  left: 37%;
  color: var(--accent1-color);
  
}
 

main {
  padding: 20px;
}

.trip {
  display: flex;
  margin-bottom: 40px;
}

.trip-info {
  margin-left: 20px;
}

.trip-info img {
  width: 300px;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

caption {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

th, td {
  width: auto;
    padding: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid var(--primary-color);
    color: var(--primary-color);
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

