@import url(https://fonts.googleapis.com/css2?family=Acme&family=Martel:wght@200;300;400;600;700;800;900&family=Noto+Sans+Khojki&display=swap);

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root{
    --primary-color: #E5E5E5 ;
    --secondary-color: #1e3961;
    --accent1-color: #CCA43B;
    --accent2-color:  #363636;

    --heading-font:"Martel", serif;
    --paragraph-font:"Martel", serif;

    --nav-background-color: #e5e5e5;
    --nav-link-color: #ec0000;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #CCA43B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);

}

p {padding: 25px;}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem; 
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);

}